#friends-display-link {
  text-align: center;
  display: block;
  width: 100%;
  padding: 15px 0;
  background-color: #fafafa;
  color: #494949;
  font-size: 18px;
  font-weight: 500;
  margin-top: -10px;
  margin-bottom: 20px;
}

#friends-display-link i {
  color: #d5d5d5;
  margin: 0 5px;
}

.friends-screen__channel {
  margin-top: 30px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 15px;
}
.friends-screen__channel-header {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
}
